body {
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #444;
  border: 1px solid #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rolar-d20 {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#resultado-rolagem {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.titulo {
  color: coral;
  font-size: 24px;
  margin-bottom: 10px;
  animation: fadeIn 2s;
}

.subtitulo {
  color: coral;
  font-size: 18px;
  margin-bottom: 5px;
  animation: fadeIn 2s;
}

.texto {
  animation: fadeIn 2s;
}

.opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.opcao {
  background-color: #555;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  animation: slideIn 2s;
}

.opcao:hover {
  background-color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

